@model Babystat.Models.HomeViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div style="margin-top: 20px">
    @foreach (var s in Model.Usernames)
    {
        <div class="alert alert-warning">@s</div>
    }
</div>